<!DOCTYPE html>
<html lang="en">

	<head>
		<!--	house keepingg-->
		<meta charset="utf-8" />
		<meta name="keywords" content="Yorkshire, Yorkshire mus, roman, tombstones, roman tombstones">
		<title>
			Candy tycoon
		</title>

		<!--style sheets-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="drawer.css">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<!--Scripts-->
		<!-- <script src="angular-1.7.8/angular.min.js"></script> -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

		<!--my scripts-->
		<script src="Calc_to_ui.js"></script>

		<script>
			$(document).ready(function() {});
		</script>

		<!--	manual styling -->
		<style>
			body {
				display: grid;
				grid-template-rows: auto;
				grid-template-columns: 33% 33% 33%;
				grid-template-areas:
					"banner banner banner"
					"label1 label2 label3"
					"column1 column2 column2";

				background: #eae0d5;
			}


			#column1 {
				grid-area: column1;

			}

			#column2 {
				grid-area: column2;

			}

			#column3 {
				grid-area: column3;

			}

			#banner {
				grid-area: banner;

			}

			#column {}
		</style>

	</head>

	<body data-ng-app="name_updater" data-ng-controller="get_names">
		<h1 id="banner" onClick="add1">banner{{money|currency:'$'}}</h1>

		<div class="column1" id="column1">

			<div id="unlocks" style="">
				<div class="production_title title_block bar">
					<div class="title_bar_element amount element1"></div>
					<div class="title_bar_element title element2">Unlocks</div>
					<span class="title_bar_element icon icon2 glyphicon glyphicon-menu-down element3"></span>
				</div>
				<ul class="unlocks_list" >
					<li class="unlock_list_item" data-ng-repeat="x in candies" data-ng-style="{'display': x.unlock_visibility?'grid':'none'}">
						<div class="unlock_list_item_title title_block button bar" data-ng-click="unlock(x)">
							<div class="title_bar_element title element1">Research {{x.name}} {{x.unlock_cost|currency:'$'}}</div>
							<div class="title_bar_element amount element2"></div>
							<span class="title_bar_element icon icon2 glyphicon glyphicon-menu-down element3"></span>
						</div>
					</li>
				</ul>
			</div>

			<div id="production" style="position:relative">
				<!-- //title bar -->
				<div class="production_title title_block button bar" onClick="shrink(this)">
					<div class="title_bar_element amount element1"></div>
					<div class="title_bar_element title element2">Candy production</div>
					<span class="title_bar_element icon icon2 glyphicon glyphicon-menu-down element3"></span>
				</div>
				<!-- //list wrapper -->
				<ul id="candy_list">
					<!-- //list item -->
					<li class="list_item candy_list_item" data-ng-repeat="x in candies" data-ng-style="{'display': x.visibility?'grid':'none'}">
						<!-- //list title with button -->
						<div class="candy_list_item_title title_block button bar" onClick="shrink(this)">
							<div class="title_bar_element title element1">{{x.name}}</div>
							<div class="title_bar_element amount element2">{{x.amount|currency:''}}{{x.unit}}</div>
							<span class="title_bar_element icon icon2 glyphicon glyphicon-menu-down element3"></span>
						</div>
						<!-- //inner candy info list -->
						<ul class="list candy_list_item_list candy_info_list">
							<li class="candy_info_list_item price_per_gram">
								Price per gram: {{x.price_per_gram| currency:'$'}}
							</li>
							<li class="candy_info_list_item amount">
								Current amount: {{x.amount| number : 1.2}}{{x.unit}}</li>
							<li class="candy_info_list_item factory_info">
								<ul class="list factory_info_list">

									<li class="factory_info_list_item factory_amount">
										Factories:
										{{x.factory_amount}}
									</li>

									<li class="factory_info_list_item production">
										Producing:
										{{x.factory.production * x.factory_amount|currency:''}}{{x.unit}}&#47;s
									</li>

									<li class="factory_info_list_item until_next_factory">
										till next factory
									</li>

									<li class="factory_info_list_item next_cost_per">
										Cost of next factory&#58;<br>
										{{x.factory.base_cost_per * (x.factory_amount +1) * x.factory.price_multiplier| currency:'$'}}
									</li>

									<li class="factory_info_list_item purchase_buttons button"
									    data-ng-click="purchase_factory(x)">
										buttons
									</li>
								</ul>

							</li>

						</ul>

					</li>

				</ul>

			</div>

		</div>

		<div class="column" id="column2">
			<ul class="column_list">
				<li>
					<div class="list_wrapper" id="list2">
						<div class="title_block" data-ng-click="sellall()">
							<span class="icon icon1 ui-icon ui-icon-disk"></span>
							<div class="title">title</div>
							<span class="icon icon2 glyphicon glyphicon-menu-down"></span>
						</div>
						<ul class="list">
							<li class="list_item">1</li>
							<li class="list_item">2</li>
							<li class="list_item">3</li>
							<li class="list_item">4</li>
						</ul>

					</div>
				</li>

			</ul>
		</div>


	</body>

</html>
